* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#selection {
    width: 208px;
    display: block;
    min-height: 100vh;
    background-color: rgb(255, 255, 255, 0.4);
    position: absolute;
    float: left;
    padding-left: 20px;
    z-index: 10;
}

#selection p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

#selection ul {
    padding-left: 15px;
}

#selection .button {
    width: 50px;
    height: 30px;
    border: 1px solid black;
    border-radius: 7px;
}

#selection ul li {
    list-style: none;
    margin-bottom: 20px;
}

#selection ul li p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


#showdata {
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    float: left;
}

#postjson {
    position: absolute;
    top: 30px;
    left: 300px;
}

#showstatistc {
    position: absolute;
    top: 20px;
    /* width:200px;
    margin: 0 auto; */
    left: 720px;
}

#identity {
    position: absolute;
    width: 110px;
    top: 30px;
    right: 100px;
}

#showdata .identity-select {
    width: 50px;
    height: 35px;
    position: relative;
    float: left;
}

#showdata .identity-select p {
    position: relative;
    top: 7px;
    left: 9px;
}

.identity-select-check {
    background-color: rgb(0, 0, 0, 0.65);
    color: white;
}

.identity-select-nocheck {
    background-color: transparent;
}

#showwindow {
    margin-left: 300px;
    width: calc(var(--width) - 275px - 25px);
    position: relative;
    top: 80px;
    left: -25px;
}

.showtable {
    width: 100%;
    overflow-y: scroll;
    text-align: center;
}

.showtable th {
    color: #000;
}

/* Padding and font style */
.showtable td,
.showtable th {
    padding: 5px 10px;
    font-family: Verdana;
    font-weight: 540;
    color: 000;
}

.showtable tr {
    background-color: rgb(255, 255, 255, 0.8);
}

.modify_page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.65);
    z-index: 20;
    /* display: none; */
}

.modify_from {
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.modify_password {
    position: relative;
    top: 45px;
    left: 60px;
    width: 300px;
    height: 70px;
}

.modify_button {
    width: 100px;
    height: 40px;
    text-shadow: none;
    border: 0;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 80px;
}

.modify_form_stu {
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modify_tea_from{
    display: flex;
}

#modify_tea_pass_from{
    display: flex;
    flex-direction: row;
    position: relative;
    left:-16px;
}